@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    font-weight: 900;    
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 12px;
    font-size: 24px;
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 16px;
   
}
.hl {
    display: flex;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
    padding: 16px;
}
.hl button {
    padding: 12px;
    width: 120px;
    border-radius: 12px;
    border: 0;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
}
img {
    width: 400px
}