@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1 {
    font-size: 42px;
    width: 400px;
}
h2 {
    font-size: 64px;
    margin: 0;
}
body {
  
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    
    
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 12px;
    font-size: 24px;
    width: 400px;
    justify-content: end;
    
    
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 100px;
   
}
.hl {
    display: flex;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
    width: 400px;
    
}
button {
    padding: 12px;
    width: 120px;
    border-radius: 12px;
    border: 0;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.hl p {
    font-size: 24px;
}
img {
    width: 400px
}
.content {
    padding:80px;
    display: flex;
    flex-direction: column;
}
.content .header{
    background-color: white;
    justify-content: center;
}
.content h1 {
    color: black;
    font-size: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content ul {
    justify-content: center;
    align-items: center;
    width: auto;    
}
.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    gap: 64px;
    
}
.items img {
    height: 200px;
    width: 200px;
    border: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(247, 247, 247);
    border-style: solid;
}
.items li {
    display: flex;
    flex-direction: column;
}
.items p {
    font-size: 24px;
    width: 200px;
    text-align: center;
    margin: 0;
}
.inspiration {
    background-color: #e5e7eb;
    padding: 200px;
}
.inspire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.il p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    width: 800px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}
.ir p {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 24px;
    color: #1f2937;
    width: 800px;
    font-weight: bolder;
    margin: 0;
}
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 200px;
    height: 150px;
    border-radius: 12px;
    width: 1000px;
}
.ctal {
    color: white;
    font-size: 18px;
    margin: 0;
    gap: 0;
}
h3 {
    font-size: 24px;
    margin-bottom: 0;
}
.ctal p {
    margin-top: 0;
}
 